*Analytical Information Systems*

# Worksheet 1 - Introduction to Jupyter and R Analytic Pipelines

Matthias Griebel<br>
Lehrstuhl für Wirtschaftsinformatik und Informationsmanagement

SS 2020

## Jupyter and R Working Environment

__We will be using R__

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/R_logo.svg/724px-R_logo.svg.png" width="100" align="right">


R is not the only language that can be used for data analysis. Why R rather than another?
- interactive language
- data structures & functions
- graphics
- packages & community!

__... and tidyverse__

<img src="https://github.com/matjesg/AIS_2019/raw/master/notebooks/images/01/ecosystem.png" width="300" align="right">

The [tidyverse](https://www.tidyverse.org) is a collection of R packages that share common philosophies and are designed to work together.

- Reuse existing data structures
- Compose simple functions with the pipe
- Embrace functional programming
- Design for humans

__within the Jupyter Ecosystem__

Project Jupyter exists to develop open-source software, open-standards, and services for interactive computing across dozens of programming languages (https://jupyter.org/).

### The Jupyter Notebook (this!)

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Jupyter_logo.svg/250px-Jupyter_logo.svg.png" width="100" align="right">

- open-source web application 
- create and share documents that contain
    - live code and narrative text
    - data cleaning and transformation
    - numerical simulation
    - statistical modeling 
    - data visualization
    - machine learning
    - and much more

__Jupyter Notebooks Cells__
- A Markdown cell (this cell) contains text formatted using Markdown and displays its output in-place when it is run
- A code cell contains code to be executed in the kernel and displays its output below

Now, write and run your first code in the next cell and run the code
```R
string <- "your text"
print(string)
```

In [0]:
string <- "hello world"
print(string)

### Google Colab

<img alt="Colaboratory logo" height="45px" src="https://colab.research.google.com/img/colab_favicon.ico" align="right" hspace="10px" vspace="0px">

[Colaboratory](https://colab.research.google.com/) is a free Jupyter notebook environment that requires no setup and runs entirely in the cloud.

With Colaboratory you can 
- write and execute code, 
- save and share your analyses, and 
- access powerful computing resources (GPU and TPU), 

all for free from your browser. [More information](https://colab.research.google.com/notebooks/welcome.ipynb)

### R Programming

#### R Packages

Packages are the fundamental units of reproducible R code. They include reusable R functions, the documentation that describes how to use them, and sample data. 

Example: Install and load the *tidyverse*
```R
# install
install.packages('tidyverse')
# load
library(tidyverse)
```

The *tidyverse* package is already pre-installed, so we just need to load them

In [0]:
library(tidyverse)

#### Operators in R

#### Assignment operators

These operators are used to assign values to variables
<table style="font-size: 100%;">
<tbody>
<tr>
<th>Operator</th>
<th>Description</th>
</tr>
<tr>
<td>&lt;-, =</td>
<td>Leftwards assignment</td>
</tr>
<tr>
<td>-&gt;</td>
<td>Rightwards assignment</td>
</tr>
</tbody>
</table>

In [0]:
x <- 5
x

#### Arithmetic operators

These operators are used to carry out mathematical operations like addition and multiplication.

<table style="font-size: 100%;">
<tbody>
<tr>
<th>Operator</th>
<th>Description</th>
</tr>
<tr>
<td>+</td>
<td>Addition</td>
</tr>
<tr>
<td>&#8211;</td>
<td>Subtraction</td>
</tr>
<tr>
<td>*</td>
<td>Multiplication</td>
</tr>
<tr>
<td>/</td>
<td>Division</td>
</tr>
<tr>
<td>^</td>
<td>Exponent</td>
</tr>
<tr>
<td>%%</td>
<td>Modulus (Remainder from division)</td>
</tr>
<tr>
<td>%/%</td>
<td>Integer Division</td>
</tr>
</tbody>
</table>

In [0]:
x^10

#### Relational operators
Relational operators test or define some kind of relation between two entities/values
<table style="font-size: 100%;">
<tbody>
<tr>
<th>Operator</th>
<th>Description</th>
</tr>
<tr>
<td>&lt;</td>
<td>Less than</td>
</tr>
<tr>
<td>&gt;</td>
<td>Greater than</td>
</tr>
<tr>
<td>&lt;=</td>
<td>Less than or equal to</td>
</tr>
<tr>
<td>&gt;=</td>
<td>Greater than or equal to</td>
</tr>
<tr>
<td>==</td>
<td>Equal to</td>
</tr>
<tr>
<td>!=</td>
<td>Not equal to</td>
</tr>
</tbody>
</table>

In [0]:
x < 10

#### The pipe operator

<img src="https://github.com/matjesg/AIS_2019/raw/master/notebooks/images/01/pipes.png" width="150">

Pipes are a powerful tool for clearly expressing a sequence of multiple operations.<br>

In a pipe, we can rewrite the code as follows
```R
string %>%
    print()
```

In [0]:
string %>%
    print()

### Relational Data and Data Frames

__ARIS Data View__

<img src="https://github.com/matjesg/AIS_2019/raw/master/notebooks/images/01/aris.png" width="500">

The relational model represents the database as a collection of relations (= tables, in R: *data frames* or *tibbles*).

- Each row of a table represents a list of related data values (= data record). Such a line is referred to as a "tuple”
- A column corresponds to an attribute
    - Attributes are assigned a data type, format, or value range 
    - Each attribute value is atomic and cannot be further broken down into components

#### Working on the Student Performance Data Set 

The [data set](https://rstudio-pubs-static.s3.amazonaws.com/108835_65a73467d96f4c79a5f808f5b8833922.html) contains information on students in secondary education in Portugal.

Important  attributes/columns:
- G1 - first period grade (from 0 to 20) 
- G2 - second period grade (from 0 to 20) 
- G3 - final grade (from 0 to 20)

Let's download the data and save it to the data frame "student_data"

In [0]:
url = "https://raw.githubusercontent.com/arunk13/MSDA-Assignments/master/IS607Fall2015/Assignment3/student-mat.csv"
student_data <- read.table(file= url, header = TRUE, sep = ";")

#### Have a look at the data

To view your data frame, write the name in a code cell and run it

In [0]:
student_data

#### View first or last part

*head()* and *tail()* return first or last part of the data frame

In [0]:
tail(student_data)

#### Get a glimpse of your data

*glimpse()* outputs a transposed version of the standard view: columns run down the page, and data runs across. This makes it possible to see every column in a data frame

In [0]:
glimpse(student_data)

#### Data summaries

You can use the *summary()* command to get a better feel for how your data are distributed

In [0]:
student_data %>%
    summary()

### Help and Documentation

#### Accessing the documentation with '?'

The question mark is a simple shortcut to get help

```R
?tidyverse
```

In [0]:
?tidyverse

### Recommended Books

R for Data Science (https://r4ds.had.co.nz/)

<img src="https://d33wubrfki0l68.cloudfront.net/b88ef926a004b0fce72b2526b0b5c4413666a4cb/24a30/cover.png" width="100" style="float:left">

An Introduction to Statistical Learning (https://www.springer.com/de/book/9781461471370)

<img src="https://images.springer.com/sgw/books/medium/9781461471370.jpg" width="100" style="float:left">

#### Cheat Sheets

- Cheat sheets make it easy to learn about your favorite packages
- [Here](https://www.rstudio.com/resources/cheatsheets/), you will find some cheat sheets

## Analytic Pipelines: Data Transformation with *dplyr*

The *dplyr* packages provides a grammar for manipulating tables in R. It can be conceptualized as an alternative to a traditional query language like SQL.

Main functions are

- *select()* extracts variables/columns as a table

- *filter()* extracts rows that meet logical criteria

- *group_by()* creates a "grouped" copy of a table. *dplyr* functions will manipulate each "group" separately and then combine the results

- *summarise()* applies summary functions to columns to create a new table of summary statistics based on grouping.

- *arrange()* orders rows by values of a column or columns

- *mutate()* computes new columns/variables

Multiple operations can be executed in sequence using the pipe operator:

```R
df %>%
    filter() %>%
    mutate() %>%
    arrange()
```

We will now apply these functions to our student dataset. You can use the  [Cheat Cheat](https://content.cdntwrk.com/files/aT05NjI5Mjgmdj0xJmlzc3VlTmFtZT1kYXRhLXRyYW5zZm9ybWF0aW9uLWNoZWF0LXNoZWV0JmNtZD1kJnNpZz01ZjdlZGUxZDJiM2QwMmYxNDUzODIwYzA0NzE5NTA2YQ%253D%253D) to work on the following tasks.

#### Select variables

Select the attributes *sex* and *age* from the data

In [0]:
student_data %>%
    select(sex, age)

#### Make new variables

Calculate the average grade from the first period grade (G1) and the second period grade (G2) in a new columns 'MeanGrade'

In [0]:
student_data %>%
    mutate("MeanGrade" = (G1+G2)/2)

#### Extract data
Filter only male students

In [0]:
student_data %>%
    filter(sex=='M')

#### Sorting the data

Select only the female students and sort them by age.

In [0]:
student_data %>%
    filter(sex=='F') %>%
    arrange(-age)

#### Summarize the data

What is the average absences of the students?

In [0]:
student_data %>%
    summarise(Mean_absences = mean(absences))

#### Grouping and summarizing

Calculate the average absences of both male and female students

In [0]:
student_data %>%
    group_by(age, sex) %>%
    summarise(Mean_absences = mean(absences))

## Exercises

### Exam AIS WS 2018/19
__Data Engineering & Integration (5 points)__

(a) __Analytic Pipelines__: Consider the following diamonds data set:

In [0]:
# This code was not included in the exam, values may differ
library(tidyverse)
set.seed(5)
ggplot2::diamonds %>% 
    sample_n(10) %>% 
    arrange(cut) -> diamonds

In [0]:
diamonds

    i. (1 points) You are executing the code below. How many rows does the resulting data frame contain? Briefly explain your answer.

```R
diamonds  %>%
    group_by(cut) %>%
    summarize(median(depth))
```

__Solution__:

In [0]:
# Write your answer/code here

ii. (2 points) You are executing the code below. What are the column names of the resulting data frame?

```R
diamonds %>%
    group_by(clarity , color) %>%
    filter(price > 1000) %>%
    mutate(volume = x * y * z) %>%
    summarise(x = mean(carat),y = mean(price)) %>%
    mutate(z = x * y)
```

__Solution__:

In [0]:
# Write your answer/code here

iii. (2 points) Explain in pseudo code (e.g., dplyr pipelines) how to obtain the following transformed table from the given data set.

<table style="font-size: 100%;">
<thead>
	<tr><th scope=col>color</th><th scope=col>max_price</th><th scope=col>min_price</th></tr>
</thead>
<tbody>
	<tr><td>F</td><td>1630</td><td> 786</td></tr>
	<tr><td>G</td><td>2593</td><td>2593</td></tr>
	<tr><td>H</td><td>7604</td><td>1723</td></tr>
	<tr><td>I</td><td>4195</td><td>1840</td></tr>
	<tr><td>J</td><td>5463</td><td>5463</td></tr>
</tbody>
</table>

In [0]:
# Write your answer/code here